.contactBlock {
	height: 840px;

	.infoBlock__header {
		height: 124px;
		background: rgb(72, 203, 232);
		box-shadow: 0 15px 0 0 rgb(103, 223, 250);

		&-name {
			display: block;
			margin-top: 62px;
			transform: translateY(-50%);
			padding: 0;
			border-bottom: none;
			color: #fff;
			text-align: center;
		}
	}

	.infoBlock__content {
		padding-top: 56px;
	}

	.contactForm {
		display: block;
		position: relative;
		margin: 0 auto;
		width: 400px;

		&__label {
			display: block;
			margin-bottom: 11px;

			&.smallLabel {
				width: 190px;
			}

			&.bigLabel {
				width: 100%;
			}

			&-header {
				display: block;
				font-size: 19px;
				color: rgb(149, 154, 168);
			}

			&-input {
				display: block;
				background: rgb(251, 252, 253);
				border: 1px solid rgb(72, 203, 232);
				border-radius: 3px;
				width: 190px;
				height: 40px;
				outline: none;
				padding: 10px 15px;

				&[placeholder] {
					font-size: 13px;
					color: rgb(72, 203, 232);
					line-height: 39px;
					vertical-align: middle;
				}
			}

			.bigInput {
				width: 100%;
				height: 180px;

				&[placeholder] {
					line-height: 15px;
					vertical-align: top;
				}
			}
		}

		&__row {
			display: block;

			.contactForm__label {
				display: block;
				width: 50%;

				&:first-of-type {
					float: left;
				}

				&:last-of-type {
					float: right;
				}
			}
		}

		.captchaLabel {
			margin-bottom: 15px;
			
			.contactForm__captcha {
				float: left;
				width: 188px;
				height: 76px;
				background: rgb(251, 252, 253);
				border: 1px solid rgb(72, 203, 232);
				border-radius: 4px;
				overflow: hidden;

				&-img {
					width: 100%;
				}
			}

			.contactForm__label-input {
				float: right;
				margin-top: 18px;
			}
		}

		&__button {
			display: block;
			width: 135px;
			height: 30px;
			border-radius: 5px;
			text-align: center;
			cursor: pointer;
			font-size: 19px;
			color: rgb(255, 255, 255);
			border: none;
			outline: none;
			text-decoration: none;
			line-height: 30px;
			vertical-align: middle;
		}

		&__submit {
			background-color: rgb(72, 203, 232);
			box-shadow: 0 5px 0 0 rgb(59, 168, 192);
			float: left;
		}

		&__reset {
			background-color: rgb(132, 157, 181);
			box-shadow: 0 5px 0 0 rgb(104, 123, 143);
			float: right;
		}


	}
}