extends ../template

block personalStyle
	link(rel="stylesheet", type="text/css", href="css/main.css")
	link(rel="stylesheet", type="text/css", href="css/contact.css")


block title 
	| Сайт Портфолио

block main-content
	+aside(3)
	- var index = 3;
	wrapper.infoWrapper
		article.infoBlock.contactBlock
			header.infoBlock__header
				h3.infoBlock__header-name
					| У вас интересный проект? Напишите мне
			.infoBlock__content
				form.contactForm
					wrapper.contactForm__row.clearfix
						label.contactForm__label.smallLabel
							header.contactForm__label-header
								| Имя
							input.contactForm__label-input#contactName(type="text" name="contactName" placeholder="Как к вам обращаться" qtip-content="Пожалуйста, введите имя" qtip-position="left")

						label.contactForm__label.smallLabel
							header.contactForm__label-header
								| Email
							input.contactForm__label-input#contactEmail(type="text" name="contactEmail" placeholder="Куда вам писать" qtip-content="Пожалуйста, введите email" qtip-position="right")

					label.contactForm__label.bigLabel
						header.contactForm__label-header
							| Сообщение
						textarea.contactForm__label-input.bigInput#contactMess(name="contactMess" placeholder="Кратко в чём суть" qtip-content="Пожалуйста, введите сообщение" qtip-position="right")

					label.contactForm__label.bigLabel.clearfix.captchaLabel
						header.contactForm__label-header
							| Введите код, указанный на картинке
						wrapper.contactForm__captcha
							img.contactForm__captcha-img(src="img/code.jpg" alt="captcha")
						input.contactForm__label-input#contactCaptcha(type="text" name="contactCaptcha" placeholder="Введите код" qtip-content="Пожалуйста, введите код" qtip-position="right")

					label.contactForm__label.bigLabel.clearfix
						button.contactForm__button.contactForm__submit(type="submit")
							| Отправить
						a.contactForm__button.contactForm__reset(href="#")
							| Очистить
	
	.smallContacts.tablet-only.phone-only
		ul.smallContacts__list
			li.smallContacts__list-item.phoneItem
				a.smallContacts__list-link(href="tel:+79117485349")
					| +7(911)748-53-49
			li.smallContacts__list-item.mailItem
				a.smallContacts__list-link(href="mailto:doyoulikeorigami@gmail.com")
					| DoYouLikeOrigami@gmail.com
			li.smallContacts__list-item.skypeItem
				a.smallContacts__list-link(href="skype:joker.imba24")
						| joker.imba24

	ul.socials.phoneSocials.phone-only
		li.socials__icon.socials__vk
			a.socials__link(href="https://vk.com/origami_joke", target="_blank")
		li.socials__icon.socials__tw
			a.socials__link(href="https://twitter.com/origami_joke", target="_blank")
		li.socials__icon.socials__fb
			a.socials__link(href="https://facebook.com/origami_joke", target="_blank")
		li.socials__icon.socials__git
			a.socials__link(href="https://github.com/DoYouLikeOrigami", target="_blank")

				

block personalScript
	script(src="bower/bPopup/jquery.bpopup.min.js")
	script(src="bower/qtip2/jquery.qtip.min.js")
	script(src="js/add-project.js")
	script(src="js/validate.js")
				

				



