footer.mainFooter
	wrapper.mainFooter__wrapper
		a.mainFooter__lock.large-only(href="auth.html")
		.mainFooter__copyright
			| &copy; 2015. Это мой сайт, пожалуйста, не копируйте и не воруйте его 