include common/mixins
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width", initial-scale="1")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
			
		//IE
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		
		//SEO
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")

		//fonts
		link(rel="stylesheet", type="text/css", href="fonts/fira/fira.css")

		//Modernizer
		script(src="bower/modernizer/src/modernizr.js")

		//styles
		link(rel="stylesheet", type="text/css", href="bower/normalize-css/normalize.css")
		link(rel="stylesheet", type="text/css" href="css/common.css")
		block personalStyle
		link(rel="stylesheet", type="text/css" href="css/media.css")
		
		//Title
		title
			block title

	body
		wrapper.mainWrapper
			include common/header
			section.mainContent
				wrapper.mainContent__wrapper.clearfix
					block main-content


		include common/footer


		script(src="bower/jquery/jquery.min.js")
		script(src="bower/bPopup/jquery.bpopup.min.js")
		script(src="js/main.js")
		block personalScript
